.row {
  display: table;
}

.square {
  height: 50px;
  width: 50px;
  font-size: 42px;
  text-align: center;
  border: hidden;
  background: transparent;
}

table {
  border-left: 3px solid black;
  border-top: 3px solid black;
  border-collapse: collapse;
}

td {
  border: 1px solid black;
}

td:nth-child(3n) {
  border-right: 3px solid black;
}

tr:nth-child(3n) {
  border-bottom: 3px solid black;
}

tbody {
  border-collapse: collapse;
  border-spacing: 0px;
}
